h1{
    font-size: 50px;
}

.cardListSection{
    background-color: white;
}

.headerSection{
    background-color: black;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}