.searchBoxSection{
    padding: 5px;
}

.searchBox{
    height: 40px;
    width: 200px;
    font-size: 20px;
    transition: width 0.2s;
    border-radius: 5px;
    text-align: center;
}

.searchBox:focus{
    width: 400px;
}
